body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-image: url(./Naruto_Uzumaki_\(3_in_1\).png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.niav {
    color: brown;
    font-size: 10px;
}

.hav {
    color: chocolate;
}

.two {
    background-color: darkturquoise;
}

.my-image {
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url('./Naruto_Uzumaki_\(3_in_1\).png'); 
}

.menu {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15PX;
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: rgba(127, 255, 212, 0.406);
}

.menu-item {
    text-decoration: none;
    color: black;
    padding: 15px 25px;
}

.menu-item:hover {
    background-color: rgb(125, 204, 178);
    border-radius: 10px;
}

.active {
    background-color: rgb(153, 222, 199);
    border-radius: 10px;
}

.flex-container {
    width: 80vw;
    height: 80vh;
    background-color: bisque;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container p {
    height: 100px;
    width: 100px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.content-section {
    background-color: rgba(153, 193, 175, 0.795);
    width: fit-content;
    padding: 40px;
    margin: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -1px 1px 20px 5px;
}

.content-section h2 {
    font-size: 24px;
}

.content-section h3 {
    font-size: 18px;
}

.content-section ul {
    list-style: armenian;
}

.content-section p {
    margin: 10px;
}

.right {
    align-self: flex-end;
    background-color: bisque;
}
